@if (Pizzas is null)
{
    <div>Loading...</div>
}
else
{
    <ItemList Items="Pizzas">
        <Header>
            <h1>@Title</h1>
        </Header>
        <RowTemplate Context="pizza">
            <PizzaItem Pizza="@pizza" OnPizzaSelected="@OnPizzaSelected" ButtonTitle="Add"></PizzaItem>
        </RowTemplate>
    </ItemList>
}

